
# Name similar to your Jenkins run name
name: $(Build.DefinitionName)_$(Build.SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)

# CI trigger (change as needed)
trigger:
- master

# Use a self-hosted agent that has network reachability to 172.31.42.212
pool:
  name: awspool  # <-- replace with your self-hosted pool name

# Global variables
variables:
  IMAGE: 'hemgit/tomcat'         # Docker image name
  TAG: 'v1'                      # or use $(Build.BuildNumber) for unique tags
  REMOTE_DIR: '/home/devops/webapp1'
  APP_NAME: 'studentapp'
  PORT: '8080'

stages:
# ---------------------------------------------------------------------------
# BUILD & TEST
# ---------------------------------------------------------------------------
- stage: BuildAndTest
  displayName: 'Build & Test'
  jobs:
  - job: Build
    displayName: 'Maven build, test, package'
    steps:
    - checkout: self
      persistCredentials: true

    # Install JDK 1.8 for this job (Option B)
    - task: JavaToolInstaller@0
      displayName: 'Install JDK 8 (Temurin)'
      inputs:
        versionSpec: '8'                 # or '1.8'
        jdkArchitectureOption: 'x64'
        jdkSourceOption: 'PreInstalled'  # Use 'AzureStorage' if you host binaries internally

    # Compile
    - task: Maven@3
      displayName: 'mvn clean compile'
      inputs:
        mavenPomFile: 'pom.xml'
        goals: 'clean compile'
        publishJUnitResults: false
        jdkVersionOption: '1.8'          # Uses JDK set by JavaToolInstaller

    # Unit tests + publish JUnit
    - task: Maven@3
      displayName: 'mvn clean test (Publish JUnit)'
      inputs:
        mavenPomFile: 'pom.xml'
        goals: 'clean test'
        publishJUnitResults: true
        testResultsFiles: 'target/surefire-reports/*.xml'
        jdkVersionOption: '1.8'

    # Package (skip tests)
    - task: Maven@3
      displayName: 'mvn clean package -DskipTests'
      inputs:
        mavenPomFile: 'pom.xml'
        goals: 'clean package -DskipTests'
        publishJUnitResults: false
        jdkVersionOption: '1.8'

    # Stage the WAR for publishing as build artifact (useful for traceability)
    - task: CopyFiles@2
      displayName: 'Stage WAR to $(Build.ArtifactStagingDirectory)'
      inputs:
        contents: 'target/*.war'
        targetFolder: '$(Build.ArtifactStagingDirectory)'

    - task: PublishBuildArtifacts@1
      displayName: 'Publish WAR artifact'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'war'
        publishLocation: 'Container'
